* {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) repeat(19, 1fr);
    grid-template-rows: minmax(75px, 1fr) repeat(19, 1fr);
    background-color: rgb(69, 69, 69);
    width: 100vw;
    height: 100vh;
}

.header {
    background-color: rgb(255, 96, 0);
    display: grid;
    grid-row: 1 / 2;
    grid-column: 1 / 21;
}

.sidebar {
    background-color: rgba(255, 96, 0, 0.5);
    display: grid;
    grid-template-rows: 1.7fr repeat(14, 1fr);
    grid-template-columns: minmax(121px, 1fr);
    grid-row: 2 / 21;
    grid-column: 1 / 2;
    padding-left: 2px;
    padding-right: 2px;
}

#todoProjectsContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    grid-row: 3 / 12;
    padding-left: 3px;
}

#todoProjectsContainer button {
    background: none;
    border: none;
    align-self: baseline;
    font-size: larger;
    padding-left: 5px;
}

#addNewProjectButton {
    margin: 2px;
    grid-row: 13 / 14;
}

.sidebar input {
    background: none;
    background-color:rgba(152, 152, 152, 0.3);
    border-radius: 5px;
    margin: 2px;
    grid-row: 14 / 15;
}

.sidebar input::placeholder {
    color:rgb(255, 96, 0);
}

.todoArea {
    display: grid;
    grid-row: 2 / 21;
    grid-column: 2 / 21;
    grid-template-rows: 10%;
}

.todoAreaHeader {
    align-items: center;
    display: grid;
    grid-row: 1 / 2;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

#addNewToDoItemButton {
    background-color: rgba(255, 96, 0, 0.75);
    margin-right: 1.75rem;
    width: 10rem;
    justify-self: end;
    border-radius: 12px;
    box-shadow: none;
    font-size: 1rem;
    height: 65%;
}

button:hover {
    cursor: pointer;
}

.todoItemsContainer {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding-left: 10px;
    padding-right: 10px;
}

.todoItems {
    background-color: rgb(255, 165, 89);
    height: 40px;
    border: 1px solid rgb(255, 230, 199);
    border-radius: 5px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(15, 1fr);
    grid-template-areas: 
    "checkbox title title title title title title title title title duedate duedate duedate edit delete"
    "checkbox description description description description description description description description description priority priority priority edit delete";
}

.todoCheckbox {
    height: 24px;
    grid-area: checkbox;
    align-self: center;
    justify-self: center;
    background: none;
    border: none;
}

.todoTitle {
    grid-area: title;
    font-weight: 800;
}

.todoDescription {
    grid-area: description;
}

.todoDueDate {
    grid-area: duedate;
}

.todoPriority {
    grid-area: priority;
}

.todoEdit {
    height: 24px;
    grid-area: edit;
    align-self: center;
    justify-self: end;
    background: none;
    border: none;
}

.todoDelete {
    height: 24px;
    grid-area: delete;
    align-self: center;
    justify-self: center;
    background: none;
    border: none;
}

#addNewToDoItemForm {
    position: absolute;
    grid-template-columns: 10em 1fr;
    grid-template-rows: repeat(6, 3em);
    gap: 0.5em 0.5em;
    display: none;
    top: 15%;
    left: 25%;
    height: 70%;
    width: 50%;
    border-radius: 1em;
    box-shadow: 5px 5px 10px rgb(87, 87, 87);
    background-color: rgb(154, 154, 154);
    padding: 0.5em;
    padding-top: 2em;
    padding-bottom: 1em;
}

#addNewToDoItemForm label {
    justify-self: end;
    align-self: baseline;
}

#addNewToDoItemForm input, select {
    align-self: baseline;
    height: 2em;
}

#todoItemDueDate {
    width: 8em;
}

#addToDoSubmitButton {
    width: 12em;
    justify-self: right;
}

#addToDoCancelButton {
    width: 12em;
    justify-self: left;
}