* {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: minmax(125px, 1fr) repeat(19, 1fr);
    grid-template-rows: minmax(75px, 1fr) repeat(19, 1fr);
    background-color: rgb(69, 69, 69);
    width: 100vw;
    height: 100vh;
}

.header {
    background-color: rgb(255, 96, 0);
    display: grid;
    grid-row: 1 / 2;
    grid-column: 1 / 21;
}

.sidebar {
    background-color: rgba(255, 98, 0, 0.5);
    display: grid;
    grid-row: 2 / 21;
    grid-column: 1 / 2;
}

.todoArea {
    display: grid;
    grid-row: 2 / 21;
    grid-column: 2 / 21;
    grid-template-rows: 10%;
}

.todoAreaHeader {
    display: grid;
    grid-row: 1 / 2;
}

.todoItemsContainer {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.todoItems {
    background-color: rgb(255, 165, 89);
    height: 40px;
    border: 1px solid rgb(255, 230, 199);
    border-radius: 5px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(15, 1fr);
    grid-template-areas: 
    "checkbox title title title title title title title title title duedate duedate duedate edit delete"
    "checkbox description description description description description description description description description priority priority priority edit delete";
}

.todoCheckbox {
    height: 24px;
    grid-area: checkbox;
    align-self: center;
    justify-self: center;
}

.todoTitle {
    grid-area: title;
    font-weight: 800;
}

.todoDescription {
    grid-area: description;
}

.todoDueDate {
    grid-area: duedate;
}

.todoPriority {
    grid-area: priority;
}

.todoEdit {
    height: 24px;
    grid-area: edit;
    align-self: center;
    justify-self: end;
}

.todoDelete {
    height: 24px;
    grid-area: delete;
    align-self: center;
    justify-self: center;
}